@import "/node_modules/pdfequips-navbar/scss/navbar";

%debug {
  outline: 1px solid;
}

@import "./scss/minxins";
@import "./scss/placeholders";

svg {
  display: initial !important;
}

$pdf-color: #fc271c;
$color-map: (
  "merge-pdf": $pdf-color,
  "split-pdf": #fd7e14,
  "compress-pdf": #28a745,
  "pdf-to-powerpoint": #c13b1b,
  "jpg-to-pdf": #f1c40f,
  "word-to-pdf": #1b5ebe,
  "powerpoint-to-pdf": #c13b1b,
  "excel-to-pdf": #10793f,
  "web-to-pdf": #0984e3,
  "pdf-to-text": #4493e1,
  "html-to-pdf": rgb(228, 77, 38),
  "pdf-to-jpg": #f1c40f,
  "pdf-to-word": #1b5ebe,
  "pdf-to-excel": #10793f,
  "pdf-to-pdf-a": #000000,
  "pdf-to-html": rgb(228, 77, 38),
  "pdf-to-markdown": #000000,
  "markdown-to-pdf": #000000,
  "translate-pdf": #185abc,
  "merge-pages": #27ae60,
);

body {
  @include ar-wrapper {
    text-align: right !important;
  }

  font-family: "Raleway", sans-serif;
}

.tools-page {
  min-height: fit-content;
}

.h-5,
.icon {
  height: 1em;
}

.w-5,
.icon {
  width: 1em;
}

.object-fit-cover {
  object-fit: cover;
  object-position: center;
}

.object-fit-contain {
  object-fit: contain;
  object-position: center;
}

.img-fluid-custom {
  max-width: 100%;
  height: 100%;
  z-index: 0;
}

.bdi,
a.dropdown-item {
  unicode-bidi: isolate;
}

@media (min-width: 992px) {
  .drop-down-container {
    flex-wrap: nowrap !important;
  }
}

/* tools page */

.tools {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 69vh;
}

.dropdown-item {
  &.active,
  &:active {
    background-color: initial !important;
    color: #212529 !important;
  }
}

.react-tooltip {
  z-index: 100;
}

// error element styles
.error-element {
  @include extend("alert alert-danger text-center mt-3");
  .hide-on-rtl {
    [dir="rtl"] &,
    [lang="ar"] & {
      display: none !important;
    }
  }

  .hide-on-rtl {
    [dir="ltr"] &,
    :not([lang="ar"]) & {
      display: none !important;
    }
  }
}

@import "./scss/toolspage";
@import "./scss/editpage";
@import "./scss/display-file";

@import "./scss/features";

@import "./scss/loading";
@import "./scss/misk";

#myTab {
  // Bootstrap classes for the outer container
  @include extend("tabs");

  .react-tabs__tab-list {
    // Bootstrap classes for the tab list
    @include extend("nav nav-tabs");

    .react-tabs__tab {
      // Bootstrap classes for each tab item
      @include extend("nav-item");

      &--selected {
        // Bootstrap classes for the selected tab item
        @include extend("active");
      }

      .nav-link {
        // Bootstrap classes for the tab link button
        @include extend("btn");

        &.active {
          @include extend("active");
        }
      }
    }
  }

  .react-tabs__tab-panel {
    // Bootstrap classes for the tab panel container
    @include extend("tab-content");

    .tab-pane {
      // Bootstrap classes for each tab panel
      @include extend("tab-pane fade");

      &--selected {
        // Bootstrap classes for the selected tab panel
        @include extend("show active");
      }
    }
  }

  // Additional styles for the Select component and its children
  // You can add more specific styles as per your requirement
}
.cta-btn {
  @include extend("btn btn-primary btn-sm");
  font-weight: 500;
}

.center-item {
  @include extend("row justify-content-center");
}

a.no-underline {
  @include extend("text-decoration-none");
}

.spinner-grow {
  @include extend("spinner-grow");
  &:not(.lg) {
    @include extend("spinner-grow-sm");
  }
  &.lg {
    @include extend("spinner-grow-lg");
  }
}

.github-popup {
  // modal root
  @include extend("modal fade");

  &.is-open {
    @include extend("show d-block");
  }

  &-dialog {
    @include extend("modal-dialog modal-dialog-centered");
  }

  &-content {
    @include extend("modal-content");
  }

  /* ================= Header ================= */
  &-header {
    @include extend("modal-header");
  }

  &-title {
    @include extend("modal-title");
  }

  &-close {
    @include extend("btn btn-dark d-inline-flex");
  }

  /* ================= Body ================= */
  &-body {
    @include extend("modal-body");
  }

  &-form {
    width: 100%;
  }

  &-group {
    @include extend("form-group");
  }

  &-bdi {
    @include extend("d-block");
  }

  &-label {
    @include extend("d-block");

    &.is-rtl {
      @include extend("text-right");
    }
  }

  &-input {
    @include extend("form-control mb-2");
  }

  /* ================= Actions ================= */
  &-actions {
    @include extend("row m-0");
  }

  &-submit {
    @include extend("btn w-auto btn-dark d-inline-flex");
    margin-right: unset;
    margin-left: auto;
    @include ar-wrapper {
      margin-left: unset;
      margin-right: auto;
    }
  }

  /* ================= Backdrop ================= */
  &-backdrop {
    @include extend("modal-backdrop fade show");
    z-index: -1;
  }
}

.options-modal {
  @include extend("modal fade");

  &.is-open {
    @include extend("show d-block");
  }

  &-dialog {
    @include extend("modal-dialog modal-dialog-centered");
  }

  &-content {
    @include extend("modal-content");
  }

  /* ================= Header ================= */
  &-header {
    @include extend("modal-header");
  }

  &-title {
    @include extend("modal-title");
  }

  &-close {
    @include extend("btn btn-dark d-inline-flex");
  }

  /* ================= Body ================= */
  &-body {
    @include extend("modal-body");
  }

  /* ================= Tabs ================= */
  &-tabs {
    width: 100%;
  }

  &-tabs-list {
    @include extend("nav mb-3 d-flex align-items-center list-unstyled");
    gap: 5px;
  }

  &-tab {
    @include extend("nav-item");
  }

  &-tab-button {
    @include extend("btn btn-dark d-inline-flex mb-1");

    &.is-active {
      @include extend("active");
    }
  }

  &-tabs-content {
    @include extend("tab-content");
  }

  &-tab-panel {
    @include extend("tab-pane fade show active");
  }

  /* ================= Select ================= */
  &-select {
    width: 100%;
  }

  /* ================= Font Size ================= */
  .font-size-control {
    @include extend("d-flex align-items-center gap-2");
  }

  .font-size-btn {
    @include extend("btn btn-outline-secondary");

    // &.is-minus {
    // }
    // &.is-plus {
    // }
  }

  .font-size-select {
    flex: 1;
  }

  /* ================= Footer ================= */
  &-footer {
    @include extend("modal-footer");
  }

  &-reset {
    @include extend("btn btn-light");
  }

  &-save {
    @include extend("btn btn-dark");
  }

  /* ================= Backdrop ================= */
  &-backdrop {
    @include extend("modal-backdrop fade show");
    z-index: -1;
  }
}
